<label>Server name</label>
<input type="text" class="form-control" [(ngModel)]="serverName" />
<!-- <p>{{ serverName }}</p> -->
<label>Username</label>
<input type="text" class="form-control" [(ngModel)]="username" />
<button
  [disabled]="
    !allowNewServer || username.trim() === '' || serverName.trim() == ''
  "
  class="btn btn-primary"
  (click)="onCreateServer()"
>
  Add server
</button>
<p *ngIf="serverCreated; else noServer">{{ serverCreationStatus }}</p>
<ng-template #noServer>
    <p>No server was created!</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>
